################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Skooter/v15/.suo
/VisualStudio/Skooter/Skooter/Debug
/VisualStudio/Skooter/Skooter/__vm
*.db
*.opendb
*.suo
/VisualStudio/Skooter/.vs/Skooter/v15/ipch/AutoPCH
/VisualStudio/SkooterSketch/SkooterSketch.vcxproj.filters
/VisualStudio/SkooterSketch/SkooterSketch.vcxproj.user
/VisualStudio/SkooterSketch/__vm
/VisualStudio/SkooterSketch/Debug
/VisualStudio/.vs/Skooter/v15
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
VisualStudio/.DS_Store
/VisualStudio/SkooterSketch/Release
/Espy/EspySketch/.vs/slnx.sqlite
/Espy/EspySketch/.vs
/Skooter/SkooterSketch/.vs
